@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <input asp-for="InputTextBox" type="text" />
    <button type="submit" class="btn btn-primary">Click</button>
    <br />
    <html>
    <body>
        @for (var i = 0; i < 5; i++)
        {<p>Hello!</p>}
    </body>
</html>

<div class="alert alert-warning">
    @Model.Message
</div>
</form>

