@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    
        <div class="alert alert-secondary">
            <div>This information is accessible to Employees only </div>
            <div>Hello, @User.Identity.Name, the time is @DateTime.Now</div>
   
                <button type="button" class="btn btn-danger">Launch Missiles</button>
 
        </div>
    
   
    
       
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
