@page
@model Auth.Pages.LoginModel
@{
}
<h1>Admin - Create User</h1>
<hr />
<form method="post">
    <div class="form-group row">
        <label  class="col-md-2 col-form-label">User Name:</label>
        <div class="col-md-3">
            <input asp-for="UserName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Email:</label>
        <div class="col-md-3">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-3">
            <input asp-for="Password" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-md-2 col-form-label">Role:</label>
        <div class="col-md-3">
            <input asp-for="Role" class="form-control" />
        </div>
    </div>
   
    <button class="btn btn-primary col-md-1 offset-md-1" type="submit" value="Submit">Create User</button>
    @Model.Message
</form>