@page
@model ABC_Hardware.Pages.Shared.AddAnItemModel
@{
}
<form method="post" name="ItemForm">
    <div class="form-group">
        <label for="itemCode">Item Code:</label>
        <input type="text" class="form-control" id="itemCode" asp-for="ItemCodeField" placeholder="Enter Item Code">
        <span asp-validation-for="ItemCodeField"> </span>
    </div>

    <div class="form-group">
        <label for="itemDescription">Item Description</label>
        <input asp-for="ItemDescriptionField" type="text" class="form-control" id="itemDescription" placeholder="Enter Item Description">
        <span asp-validation-for="ItemDescriptionField"> </span>
    </div>
    <div class="form-group">
        <label for="unitPrice">Unit Price</label>
        <input asp-for="UnitPriceField" type="text" class="form-control" id="unitPrice" placeholder="Enter Unit Price">
        <span asp-validation-for="UnitPriceField"> </span>
    </div>

    <div class="form-group">
        <label for="quantityOnHand">Quantity On Hand</label>
        <input asp-for="QuantityOnHandField" type="text" class="form-control" id="quantityOnHand" placeholder="Enter Quantity">
        <span asp-validation-for="QuantityOnHandField"> </span>
    </div>
    <button name="Submit" value="Submit" type="submit" class="btn btn-primary">Submit</button>
</form>
@Model.Message