@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
   

</style>
<div class="text-center">
    

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">Club BAIST</h3>
                  
                </div>
            </header>

            <main class="px-3">
                
            </main>

            <footer class="mt-auto text-white-50">
                <p>Assignment for BAIS3230 by <a href="www.ianhugya.ca" class="text-white">Ian Hugya</a>.</p>
            </footer>
        </div>



    
    

</div>
