@page
@model BCS_UI_Test.Pages.ihugya1WelcomeModel
@{
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ihugya1Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
    <a href="ihugya1SignOn">I am an existing student</a>
    <br />
    <a href="ihugya1Student">I am a new student</a>
</body>
</html>