@page
@model ClubBAISTPrototype.Pages.Player.RecordsPlayerScoresModel
@{
}
<style type="text/css">
    .tg-0lax {
        text-align: center;
        vertical-align: middle;
    }
</style>
<!-- Begin Page Content -->
<div class="jumbotron-fluid">Record Player Score</div>
<div class="container-fluid">


    <h1 class="h3 mb-2 text-light">Record Player Score</h1>

    <form method="post" name="ItemForm">


        <!-- /.container-fluid -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-light">Club BAIST Ratings: </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-dark table-bordered table-sm">
                        <thead>
                            <tr>
                                <th class="tg-1wig" rowspan="2">Tee</th>
                                <th class="tg-1wig" colspan="2">Men</th>
                                <th class="tg-1wig" colspan="2">Women</th>
                            </tr>
                            <tr>
                                <td class="tg-1wig">Course Rating</td>
                                <td class="tg-1wig">Slope Rating</td>
                                <td class="tg-1wig">Course Rating</td>
                                <td class="tg-1wig">Slope Rating</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tg-0lax">Red</td>
                                <td class="tg-0lax">66.2</td>
                                <td class="tg-0lax">116</td>
                                <td class="tg-0lax">71</td>
                                <td class="tg-0lax">125</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax">White</td>
                                <td class="tg-0lax">68.8</td>
                                <td class="tg-0lax">123</td>
                                <td class="tg-0lax">75</td>
                                <td class="tg-0lax">133</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax">Blue</td>
                                <td class="tg-0lax">70.9</td>
                                <td class="tg-0lax">127</td>
                                <td class="tg-0lax">76.6</td>
                                <td class="tg-0lax">138</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-light">Club BAIST Scorecard: </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-dark table-bordered table-sm">
                        <thead>
                            <tr>
                                <th class="tg-0lax"><b>Hole</b></th>
                                <th class="tg-0lax"><b>1</b></th>
                                <th class="tg-0lax"><b>2</b></th>
                                <th class="tg-0lax"><b>3</b></th>
                                <th class="tg-0lax"><b>4</b></th>
                                <th class="tg-0lax"><b>5</b></th>
                                <th class="tg-0lax"><b>6</b></th>
                                <th class="tg-0lax"><b>7</b></th>
                                <th class="tg-0lax"><b>8</b></th>
                                <th class="tg-0lax"><b>9</b></th>
                                <th class="tg-0lax"><b>Out</b></th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="tg-0lax"><b>Hole</b></th>
                                <th class="tg-0lax"><b>1</b></th>
                                <th class="tg-0lax"><b>2</b></th>
                                <th class="tg-0lax"><b>3</b></th>
                                <th class="tg-0lax"><b>4</b></th>
                                <th class="tg-0lax"><b>5</b></th>
                                <th class="tg-0lax"><b>6</b></th>
                                <th class="tg-0lax"><b>7</b></th>
                                <th class="tg-0lax"><b>8</b></th>
                                <th class="tg-0lax"><b>9</b></th>
                                <th class="tg-0lax"></th>

                            </tr>
                        </tfoot>

                        <tbody>
                            <tr>
                                <td class="tg-0lax"><b>Par</b></td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">5</td>
                                <td class="tg-0lax">3</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">3/4</td>
                                <td class="tg-0lax">5</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">36/37</td>

                            </tr>
                            <tr class="bg-danger">
                                <td><b>Red</b></td>
                                <td class="tg-0lax">371</td>
                                <td class="tg-0lax">438</td>
                                <td class="tg-0lax">96</td>
                                <td class="tg-0lax">226</td>
                                <td class="tg-0lax">346</td>
                                <td class="tg-0lax">317</td>
                                <td class="tg-0lax">250</td>
                                <td class="tg-0lax">436</td>
                                <td class="tg-0lax">311</td>
                                <td class="tg-0lax">2791</td>

                            </tr>
                            <tr class="bg-light">
                                <td><b style="color:black">White</b></td>
                                <td style="color:black" class="tg-0lax">417</td>
                                <td style="color:black" class="tg-0lax">492</td>
                                <td style="color:black" class="tg-0lax">117</td>
                                <td style="color:black" class="tg-0lax">288</td>
                                <td style="color:black" class="tg-0lax">363</td>
                                <td style="color:black" class="tg-0lax">369</td>
                                <td style="color:black" class="tg-0lax">182</td>
                                <td style="color:black" class="tg-0lax">492</td>
                                <td style="color:black" class="tg-0lax">335</td>
                                <td style="color:black" class="tg-0lax">3055</td>

                            </tr>
                            <tr class="bg-info">
                                <td><b>Blue</b></td>
                                <td class="tg-0lax">430</td>
                                <td class="tg-0lax">505</td>
                                <td class="tg-0lax">144</td>
                                <td class="tg-0lax">288</td>
                                <td class="tg-0lax">380</td>
                                <td class="tg-0lax">395</td>
                                <td class="tg-0lax">235</td>
                                <td class="tg-0lax">530</td>
                                <td class="tg-0lax">361</td>
                                <td class="tg-0lax">3268</td>

                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>Stroke Index Men</b></td>
                                <td class="tg-0lax">1</td>
                                <td class="tg-0lax">5</td>
                                <td class="tg-0lax">17</td>
                                <td class="tg-0lax">11</td>
                                <td class="tg-0lax">9</td>
                                <td class="tg-0lax">7</td>
                                <td class="tg-0lax">15</td>
                                <td class="tg-0lax">3</td>
                                <td class="tg-0lax">13</td>
                                <td class="tg-0lax"></td>

                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>Stroke Index Women</b></td>
                                <td class="tg-0lax">5</td>
                                <td class="tg-0lax">1</td>
                                <td class="tg-0lax">17</td>
                                <td class="tg-0lax">13</td>
                                <td class="tg-0lax">11</td>
                                <td class="tg-0lax">7</td>
                                <td class="tg-0lax">15</td>
                                <td class="tg-0lax">3</td>
                                <td class="tg-0lax">9</td>
                                <td class="tg-0lax"></td>

                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>Score</b></td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole1Field" type="number" class="form-control-sm" id="hole1Field" value="">
                                    <span asp-validation-for="Hole1Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole2Field" type="number" class="form-control-sm" id="hole2Field" value="">
                                    <span asp-validation-for="Hole2Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole3Field" type="number" class="form-control-sm" id="hole3Field" value="">
                                    <span asp-validation-for="Hole3Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole4Field" type="number" class="form-control-sm" id="hole4Field" value="">
                                    <span asp-validation-for="Hole4Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole5Field" type="number" class="form-control-sm" id="hole5Field" value="">
                                    <span asp-validation-for="Hole5Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole6Field" type="number" class="form-control-sm" id="hole6Field" value="">
                                    <span asp-validation-for="Hole6Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole7Field" type="number" class="form-control-sm" id="hole7Field" value="">
                                    <span asp-validation-for="Hole7Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole8Field" type="number" class="form-control-sm" id="hole8Field" value="">
                                    <span asp-validation-for="Hole8Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole9Field" type="number" class="form-control-sm" id="hole9Field" value="">
                                    <span asp-validation-for="Hole9Field"></span>
                                </td>
                                <td class="tg-0lax">
                                </td>
                            </tr>

                    </table>
                    <table class="table table-striped table-dark table-bordered table-sm">
                        <thead>
                            <tr>
                                <td class="tg-0lax"><b>Hole</b></td>
                                <td class="tg-0lax"><b>10</b></td>
                                <td class="tg-0lax"><b>11</b></td>
                                <td class="tg-0lax"><b>12</b></td>
                                <td class="tg-0lax"><b>13</b></td>
                                <td class="tg-0lax"><b>14</b></td>
                                <td class="tg-0lax"><b>15</b></td>
                                <td class="tg-0lax"><b>16</b></td>
                                <td class="tg-0lax"><b>17</b></td>
                                <td class="tg-0lax"><b>18</b></td>
                                <td class="tg-0lax"><b>In</b></td>
                                <td class="tg-0lax"><b>Total</b></td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td class="tg-0lax"><b>Hole</b></td>
                                <td class="tg-0lax"><b>10</b></td>
                                <td class="tg-0lax"><b>11</b></td>
                                <td class="tg-0lax"><b>12</b></td>
                                <td class="tg-0lax"><b>13</b></td>
                                <td class="tg-0lax"><b>14</b></td>
                                <td class="tg-0lax"><b>15</b></td>
                                <td class="tg-0lax"><b>16</b></td>
                                <td class="tg-0lax"><b>17</b></td>
                                <td class="tg-0lax"><b>18</b></td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                        </tfoot>
                        <tbody>

                            <tr>
                                <td class="tg-0lax"><b>Par</b></td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">3</td>
                                <td class="tg-0lax">5</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">3</td>
                                <td class="tg-0lax">4/5</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">35/36</td>
                                <td class="tg-0lax">71/73</td>
                            </tr>
                            <tr class="bg-danger">
                                <td class="tg-0lax"><b>Red</b></td>
                                <td class="tg-0lax">339</td>
                                <td class="tg-0lax">323</td>
                                <td class="tg-0lax">165</td>
                                <td class="tg-0lax">434</td>
                                <td class="tg-0lax">343</td>
                                <td class="tg-0lax">268</td>
                                <td class="tg-0lax">97</td>
                                <td class="tg-0lax">393</td>
                                <td class="tg-0lax">305</td>
                                <td class="tg-0lax">2667</td>
                                <td class="tg-0lax">5458</td>
                            </tr>
                            <tr class="bg-light">
                                <td style="color:black" class="tg-0lax"><b>White<b></td>
                                <td style="color:black" class="tg-0lax">349</td>
                                <td style="color:black" class="tg-0lax">356</td>
                                <td style="color:black" class="tg-0lax">197</td>
                                <td style="color:black" class="tg-0lax">491</td>
                                <td style="color:black" class="tg-0lax">390</td>
                                <td style="color:black" class="tg-0lax">323</td>
                                <td style="color:black" class="tg-0lax">132</td>
                                <td style="color:black" class="tg-0lax">408</td>
                                <td style="color:black" class="tg-0lax">365</td>
                                <td style="color:black" class="tg-0lax">3011</td>
                                <td style="color:black" class="tg-0lax">6066</td>
                            </tr>
                            <tr class="bg-info">
                                <td class="tg-0lax"><b>Blue</b></td>
                                <td class="tg-0lax">378</td>
                                <td class="tg-0lax">382</td>
                                <td class="tg-0lax">214</td>
                                <td class="tg-0lax">511</td>
                                <td class="tg-0lax">402</td>
                                <td class="tg-0lax">345</td>
                                <td class="tg-0lax">138</td>
                                <td class="tg-0lax">423</td>
                                <td class="tg-0lax">381</td>
                                <td class="tg-0lax">3174</td>
                                <td class="tg-0lax">6442</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>Stroke Index Men</b></td>
                                <td class="tg-0lax">12</td>
                                <td class="tg-0lax">6</td>
                                <td class="tg-0lax">16</td>
                                <td class="tg-0lax">2</td>
                                <td class="tg-0lax">10</td>
                                <td class="tg-0lax">14</td>
                                <td class="tg-0lax">18</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">8</td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>Stroke Index Women</b></td>
                                <td class="tg-0lax">8</td>
                                <td class="tg-0lax">14</td>
                                <td class="tg-0lax">16</td>
                                <td class="tg-0lax">2</td>
                                <td class="tg-0lax">6</td>
                                <td class="tg-0lax">12</td>
                                <td class="tg-0lax">18</td>
                                <td class="tg-0lax">4</td>
                                <td class="tg-0lax">10</td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                            <tr>
                                <td class="tg-0lax"><b>Score</b></td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole10Field" type="number" class="form-control-sm" id="hole10Field" value="">
                                    <span asp-validation-for="Hole10Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole11Field" type="number" class="form-control-sm" id="hole11Field" value="">
                                    <span asp-validation-for="Hole11Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole12Field" type="number" class="form-control-sm" id="hole12Field" value="">
                                    <span asp-validation-for="Hole12Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole13Field" type="number" class="form-control-sm" id="hole13Field" value="">
                                    <span asp-validation-for="Hole13Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole14Field" type="number" class="form-control-sm" id="hole14Field" value="">
                                    <span asp-validation-for="Hole14Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole15Field" type="number" class="form-control-sm" id="hole15Field" value="">
                                    <span asp-validation-for="Hole15Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole16Field" type="number" class="form-control-sm" id="hole16Field" value="">
                                    <span asp-validation-for="Hole16Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole17Field" type="number" class="form-control-sm" id="hole17Field" value="">
                                    <span asp-validation-for="Hole17Field"></span>
                                </td>
                                <td class="tg-0lax">
                                    <input asp-for="Hole18Field" type="number" class="form-control-sm" id="hole18Field" value="">
                                    <span asp-validation-for="Hole18Field"></span>
                                </td>
                                <td class="tg-0lax"></td>
                                <td class="tg-0lax"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Member Number</th>
                                <th>Golf Course</th>
                                <th>Course Rating</th>
                                <th>Slope Rating</th>
                                <th>Golf Game Date</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <input asp-for="MemberNumberField" type="number" class="form-control" id="memberNumberField" placeholder="Enter Member Number" value="">
                                    <span asp-validation-for="MemberNumberField"></span>
                                </td>
                                <td>
                                    <input asp-for="GolfCourseField" type="text" class="form-control" id="golfCourseField" placeholder="Enter Golf Course" value="">
                                    <span asp-validation-for="GolfCourseField"></span>
                                </td>
                                <td>
                                    <input asp-for="CourseRatingField" type="number" class="form-control" id="courseRating" placeholder="Enter Course Rating" value="">
                                    <span asp-validation-for="CourseRatingField"></span>
                                </td>
                                <td>
                                    <input asp-for="SlopeRatingField" type="number" class="form-control" id="slopeRatingField" placeholder="Enter Slope Rating" value="">
                                    <span asp-validation-for="SlopeRatingField"></span>
                                </td>
                                <td>
                                    <input asp-for="GolfGateDate" type="date" class="form-control" id="golfGameDateField" placeholder="Enter Game Date" value="@DateTime.Now.Date">
                                    <span asp-validation-for="GolfGateDate"></span>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <input type="submit" name="Submit" class="btn btn-info justify-content-md-center" value="Submit" />
                </div>

            </div>
        </div>



        @Model.Message

    </form>
</div>
