@page
@model BAIST3150RazorPagesNETCore31.Pages.DynamicFormDisplaySampleModel
@{
}
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dynamic Form Display</title>
    <meta charset="utf-8"/>
</head>
<body>
    <form name="DynamicSampleForm" method="post">
        <table>
            <tr>
                <td>Field:</td>
                <td>
                    <input type="text" name="AField" />
                </td>
            </tr>
            <tr>
                <td>Collection:</td>
                <td>
                    <select name="ACollection" size="2"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="Submit" value="Submit" />
                </td>
            </tr>
        </table>
  </form>
</body>
</html>