@page
@model BAIST3150RazorPagesNETCore31.Pages.IndexModel
@{

}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Index Razor</title>
    </head>
    <body>
        <h1>Index Razor Page</h1>
    </body>
</html>