@page
@model BAIST3150RazorPagesNETCore31.Pages.MultiplePostsModel
@{
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Multiple Post</title>
</head>
<body>
    <form  name ="MultiplePostForm" method="post">
        <table>
            <tr>
                <td>First Input Field:</td>
                <td><input type="text" name="FirstInputField" value="@Model.FirstInputField" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="Submit" value="First" /></td>
            </tr>
            <tr>
                <td>Second Input Field:</td>
                <td><input type="text" name="SecondInputField" value="@Model.SecondInputField" /></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="Submit" value="Second" />
                </td>
            </tr>
        </table>

    </form>
    @Model.Message
</body>
</html>
