@page
@model BAIST3150RazorPagesNETCore31.Pages.SessionSampleModel
@{
}
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Sample Session</title>
</head>
<body>
    <form name="SessionSampleForm" method="post">
        <input type="submit" name="Submit" value="Submit" />
    </form>
    @Model.Message
 </body>
</html>