@page
@model BAIST3150RazorPagesNETCore31.Pages.ValidationDAAModel
@{
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Validation Data Annotation Attributes</title>
    <!-- 
        To bypass client side validation
        comment library references
        or
        hard code tags, <input> set property data-val="false" to override

        
        -->
    <meta charset="utf-8" />
    <script src="~/libraries/jquery/jquery.js"></script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <form  method="post" name="SampleForm">
        <table>
            <tr>
                <td> Input Field</td>
                <td>
                    <input asp-for="InputField" />
                    <span asp-validation-for="InputField"></span>
                </td>
            </tr>
            <tr>
                <td> Input Field</td>
                <td>
                    <input type="submit" name="Submit" value="Submit" />
                </td>
            </tr>
        </table>

    </form>
    @Model.Message
 </body>
</html>